* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  background: rgb(67, 179, 216);
  color: white;
  display: flex;
  position: relative;
  align-items: center;
  text-align: center;
  height: 50px;
  margin-bottom: 30px;
}
.nav h3 {
  width: 100%;
  text-transform: uppercase;
}
.reset {
  margin: 5px auto;
  display: block;
}
.data {
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.box {
  color: rgb(37, 36, 36);
  border-radius: 10px;
  background: lightblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 45px;
  transition: all 0.5s ease-in-out;
}
.box:hover {
  background: rgb(90, 196, 231);
}

.totalData {
  text-align: center;
}
.tour-btn {
  border: white 1px solid;
  border-radius: 5px;
  background: rgb(105, 200, 231);
  color: white;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 5%;
  transform: translate(-50%);
}
.tour-btn:hover {
  background: rgb(74, 193, 233);
  transform: scale(1.01), translate(-50%);
}

.platform-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-dashbaord {
  display: grid;
  grid-template-columns: 40% 1fr;
  width: 100%;
  height: 40vh;
}

.genre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-dashboard {
  margin-top: 100px;
  width: 100%;
  height: 25vh;
}
.bottom-dashbaord {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 40% 1fr;
  width: 100%;
  height: 80vh;
}

#platform h2 {
  margin-bottom: 30px;
}

.darkmode-ticks {
  stroke: white !important;
}
.darkmode-text {
  fill: white !important;
}

.sales-container {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 60px;
  background: rgb(83, 177, 209);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h2 {
  margin: 0;
}
.publisher {
  display: flex;
  justify-content: center;
  align-items: center;
}
.region {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .top-dashbaord {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .bottom-dashbaord {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: 100%;
  }
}

#salesSpan .x.axis text {
  text-anchor: end !important;
  transform: rotate(-45deg);
}
#genre {
  width: 100% !important;
  height: 100%;
}
#region {
  width: 100% !important;
  height: 100%;
}
#publisher {
  width: 100% !important;
  height: 90%;
}
